.carousel__dot {
  margin: 5px;
  height: 30px;
  width: 30px;
  border-radius: 45%;
  background-color: #cacbcd;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
}
  
  .carousel__dot:hover {
    background-color: darkgrey;
  }