.carousel__dot {
  margin: 5px;
  height: 40px;
  width: 40px;
  border-radius: 25%;
  background-color: #cacbcd;
  box-shadow: 0 0 0 1px transparent, 0 0 0 0 rgba(34, 36, 38, 0.15);
  transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease,-webkit-box-shadow .1s ease;
}
